.img{
	width:200;
	border:2px solid blue;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

img:hover {
  box-shadow: 0 0 4px 3px rgba(0, 140, 186, 0.5);
}
h1 { color: #ffffff;
	 font-family: 'Lato', sans-serif; 
	 font-size: 54px; 
	 font-weight: 300; 
	 line-height: 58px; 
	 margin: 0 0 58px; 
	 background-color:yellow;
	 color:blue;}



div{
	
}
body{
	background-color:#CCFFE5;
	font-family:Arial;
}
.red{
	color:red;
}
.bigFont{
	font-size:32px;
}

#specialStyle{
	width:50%;
	border:2px solid red;
	background-color:yellow;
}